<!-- wp:template-part {"slug":"header","area":"header","tagName":"header"} /-->

<!-- wp:rk/div {"className":"rk-container rk-pt-60 rk-pb-60 rk-mh-100 rk-mt-0"} -->
<!-- wp:post-featured-image {"overlayColor":"contrast","dimRatio":50,"align":"wide","style":{"spacing":{"margin":{"bottom":"var:preset|spacing|50","top":"calc(-1 * var(\u002d\u002dwp\u002d\u002dpreset\u002d\u002dspacing\u002d\u002d50))"}}}} /-->

<!-- wp:post-title {"level":1} /-->

<!-- wp:post-content {"layout":{"type":"constrained"}} /-->
<!-- /wp:rk/div -->

<!-- wp:template-part {"slug":"footer","area":"footer","tagName":"footer"} /-->
