@import url("https://fonts.cdnfonts.com/css/univers-lt-std?styles=21292,21276");
* {
  padding: 0;
  margin: 0; }

@font-face {
  font-family: 'MinionProRegular';
  src: url("../fonts/MinionProRegular.eot");
  src: url("../fonts/MinionProRegular.eot") format("embedded-opentype"), url("../fonts/MinionProRegular.woff2") format("woff2"), url("../fonts/MinionProRegular.woff") format("woff"), url("../fonts/MinionProRegular.ttf") format("truetype"), url("../fonts/MinionProRegular.svg#MinionProRegular") format("svg"); }

@font-face {
  font-family: 'UniversLightNormalRegular';
  src: url("../fonts/UniversLightNormalRegular.eot");
  src: url("../fonts/UniversLightNormalRegular.eot") format("embedded-opentype"), url("../fonts/UniversLightNormalRegular.woff2") format("woff2"), url("../fonts/UniversLightNormalRegular.woff") format("woff"), url("../fonts/UniversLightNormalRegular.ttf") format("truetype"), url("../fonts/UniversLightNormalRegular.svg#UniversLightNormalRegular") format("svg"); }

@font-face {
  font-family: 'Voyage';
  src: url("../fonts/Voyage-Regular.eot");
  src: url("../fonts/Voyage-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Voyage-Regular.woff2") format("woff2"), url("../fonts/Voyage-Regular.woff") format("woff"), url("../fonts/Voyage-Regular.ttf") format("truetype"), url("../fonts/Voyage-Regular.svg#Voyage-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

body {
  font-family: 'UniversLightNormalRegular';
  overflow-x: hidden; }

figure {
  margin: 0; }

.flex-grow-0 {
  flex-grow: 0 !important; }

@media (min-width: 1200px) {
  .container {
    max-width: 1400px; } }

.universe-28 {
  font-family: 'Univers LT Std', sans-serif;
  font-size: 28px;
  font-weight: 700; }

.wp-block-image.size-full.h-600 img {
  width: 100%;
  object-fit: cover; }
  @media (min-width: 1200px) {
    .wp-block-image.size-full.h-600 img {
      height: 600px; } }

.title-section-page {
  font-family: 'Voyage';
  font-size: 56px;
  color: #0F2335; }

.subtitle-section-page-top {
  font-size: 28px;
  font-weight: 500;
  color: #4D4D4D;
  line-height: 150%; }

.subtitle-section-page {
  font-size: 28px;
  font-weight: 500;
  color: #4D4D4D;
  line-height: 150%; }

.btn-outline-primary {
  font-family: 'MinionProRegular';
  color: #C36110;
  border-color: #C36110;
  font-size: 32px;
  font-weight: 400; }

.title-overlay-top-section {
  font-family: 'Voyage';
  font-size: 70px !important; }

.home .section-overlay-page .wp-block-cover__background {
  background-color: #0F2335;
  opacity: .7; }

.home .title-overlay-img {
  font-family: 'Voyage';
  font-size: 48px !important; }

.home .desc-overlay-img {
  font-size: 24px; }
  @media (min-width: 1200px) {
    .home .desc-overlay-img {
      width: 83%;
      margin: auto; } }

.home .btn-overlay-img {
  background: linear-gradient(122deg, #DC7C47 23.99%, #A04B1F 57.64%, #8A471A 91.29%);
  color: #fff;
  padding: 10px 30px;
  font-size: 20px;
  font-family: 'MinionProRegular';
  border-radius: 7px;
  text-decoration: none; }
  .home .btn-overlay-img:hover {
    background: #fff;
    color: #DC7C47; }

.home-exp-wrapper {
  background-color: #F0EEDC;
  color: #4D4D4D; }
  .home-exp-wrapper .home-exp-title {
    font-size: 48px;
    font-family: 'Voyage'; }
  .home-exp-wrapper .home-exp-desc {
    font-size: 20px;
    line-height: 185.2%;
    /* 37.04px */ }
  .home-exp-wrapper .home-exp-wrapper-list li {
    list-style: none;
    font-size: 24px;
    font-family: 'Voyage';
    font-weight: 700;
    margin-bottom: 15px; }
    .home-exp-wrapper .home-exp-wrapper-list li a {
      color: #4D4D4D; }
      .home-exp-wrapper .home-exp-wrapper-list li a .arrow-img {
        display: inline-flex;
        margin-left: 10px; }
  .home-exp-wrapper .btn-home-exp-more {
    font-size: 20px; }
    .home-exp-wrapper .btn-home-exp-more:hover {
      color: #fff;
      background: #DC7C47;
      border-color: #DC7C47; }

@media (min-width: 1200px) {
  .spa-column-wrapper {
    margin-right: -10%; } }

.spa-column-wrapper img {
  object-fit: cover; }
  @media (min-width: 1200px) {
    .spa-column-wrapper img {
      height: 450px; } }

.block-exp .floating-block-exp {
  padding: 20px;
  background: rgba(15, 35, 53, 0.39);
  position: absolute;
  top: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  color: #fff;
  flex-direction: column; }
  .block-exp .floating-block-exp .title-exp-block {
    font-family: 'MinionProRegular';
    font-size: 40px; }
  .block-exp .floating-block-exp .desc-exp {
    font-size: 18px; }
  .block-exp .floating-block-exp .btn-discover {
    color: #fff;
    font-size: 20px;
    border: 1px solid;
    border-radius: 8px;
    padding: 8px 40px;
    text-decoration: none;
    display: inline-block;
    margin: 20px 0; }
    .block-exp .floating-block-exp .btn-discover:hover {
      background-color: #fff;
      color: #000; }

.form-subs .w-70 {
  width: 100%; }
  @media (min-width: 1200px) {
    .form-subs .w-70 {
      width: 72%; } }
  .form-subs .w-70 input {
    width: 100%; }

.form-subs input {
  background-color: transparent;
  background: url(../img/bg-form-subs.png) no-repeat;
  border: none;
  outline: none;
  line-height: 95px;
  padding-left: 20px;
  font-size: 18px; }
  @media (max-width: 563px) {
    .form-subs input {
      background-size: 100%;
      line-height: 80px; } }
  .form-subs input:focus {
    background-color: transparent;
    outline: none;
    border: none;
    box-shadow: none; }

.form-subs .btn-submit-subs {
  background-color: #C36110;
  color: #0F2335;
  font-family: 'MinionProRegular';
  font-size: 20px;
  border: none; }

.rk-footer {
  background: #0F2335;
  color: #D9D9D9; }
  .rk-footer .title-section h1 {
    font-family: 'Voyage';
    font-size: 40px;
    color: #fff; }
  .rk-footer .subtitle p {
    font-size: 22px; }
  .rk-footer .after-form {
    font-size: 22px; }
  .rk-footer .footer-bottom-right ul li {
    list-style: none;
    display: inline-block;
    padding-right: 10px; }
    .rk-footer .footer-bottom-right ul li:hover {
      opacity: 0.5; }
  .rk-footer .footer-menus-wrapper .footer-menu-left .footer-block .title-col {
    font-size: 13px; }
  .rk-footer .footer-menus-wrapper .footer-menu-left .footer-block ul li {
    list-style: none;
    font-size: 11px;
    margin-bottom: 10px; }
    .rk-footer .footer-menus-wrapper .footer-menu-left .footer-block ul li a {
      color: #D9D9D9;
      display: block; }
  .rk-footer .footer-menus-wrapper .footer-right {
    font-size: 13px; }
    .rk-footer .footer-menus-wrapper .footer-right .title-col-large {
      font-size: 22px;
      font-family: 'MinionProRegular'; }

/*# sourceMappingURL=main.css.map */