*{
  padding: 0;
  margin: 0;
}
@font-face {
  font-family: 'MinionProRegular';
  src: url('../fonts/MinionProRegular.eot');
  src: url('../fonts/MinionProRegular.eot') format('embedded-opentype'),
       url('../fonts/MinionProRegular.woff2') format('woff2'),
       url('../fonts/MinionProRegular.woff') format('woff'),
       url('../fonts/MinionProRegular.ttf') format('truetype'),
       url('../fonts/MinionProRegular.svg#MinionProRegular') format('svg');
}
@font-face {
  font-family: 'UniversLightNormalRegular';
  src: url('../fonts/UniversLightNormalRegular.eot');
  src: url('../fonts/UniversLightNormalRegular.eot') format('embedded-opentype'),
       url('../fonts/UniversLightNormalRegular.woff2') format('woff2'),
       url('../fonts/UniversLightNormalRegular.woff') format('woff'),
       url('../fonts/UniversLightNormalRegular.ttf') format('truetype'),
       url('../fonts/UniversLightNormalRegular.svg#UniversLightNormalRegular') format('svg');
}

// general
//////////////
body{
  font-family: 'UniversLightNormalRegular';
  overflow-x: hidden;
}

figure{
  margin: 0;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1400px;
  }
}

.wp-block-image.size-full.h-600{
  img{
    width: 100%;
    object-fit: cover;
    @media (min-width: 1200px) {
      height: 600px;
    }
  }
}

.title-section-page{
  font-family: 'MinionProRegular';
  font-size: 56px;
  color: #0F2335; 
}

.subtitle-section-page-top{
  font-size: 28px;
  font-weight: 500; 
  color: #4D4D4D; 
  line-height: 150%;
}

.subtitle-section-page{
  font-size: 20px;
  font-weight: 500; 
  color: #4D4D4D; 
  line-height: 150%;
}

.btn-outline-primary{
  font-family: 'MinionProRegular';
  color: #C36110;
  border-color: #C36110;
  font-size: 32px; 
  font-weight: 400; 
}


/// wellness
///////////////
.spa-column-wrapper{
  @media (min-width: 1200px) {
    margin-right: -10%;
  }
  img{
    object-fit: cover;
    @media (min-width: 1200px) {
      height: 450px;
    }
  }
}



// footer
//////////////
.rk-footer{
  background: #0F2335;
  color: #D9D9D9;
  .title-section{
    h1{
      font-family: 'MinionProRegular';
      background: linear-gradient(122deg, #DC7C47 23.99%, #A04B1F 57.64%, #8A471A 91.29%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 45px;
      text-transform: uppercase;
    }
  }
  .subtitle{
    p{
      font-size: 22px;
    }
  }
  .after-form{
    font-size: 22px;
  }
  .footer-bottom-right{
    ul{
      li{
        list-style: none;
        display: inline-block;
        padding-right: 10px;
      }
    }
  }
  .footer-menus-wrapper{
    .footer-menu-left{
      .footer-block{
        .title-col{
          font-size: 13px;
        }
        ul{
          li{
            list-style: none;
            font-size: 11px;
            margin-bottom: 10px;
            a{
              color: #D9D9D9;
              display: block;
            }
          }
        }
      }
    }
    .footer-right{
      font-size: 13px;
      .title-col-large{
        font-size: 22px;
        font-family: 'MinionProRegular';
      }
    }
  }
}
