*{
  padding: 0;
  margin: 0;
}
@import url('https://fonts.cdnfonts.com/css/univers-lt-std?styles=21292,21276');
@font-face {
  font-family: 'MinionProRegular';
  src: url('../fonts/MinionProRegular.eot');
  src: url('../fonts/MinionProRegular.eot') format('embedded-opentype'),
       url('../fonts/MinionProRegular.woff2') format('woff2'),
       url('../fonts/MinionProRegular.woff') format('woff'),
       url('../fonts/MinionProRegular.ttf') format('truetype'),
       url('../fonts/MinionProRegular.svg#MinionProRegular') format('svg');
}
@font-face {
  font-family: 'UniversLightNormalRegular';
  src: url('../fonts/UniversLightNormalRegular.eot');
  src: url('../fonts/UniversLightNormalRegular.eot') format('embedded-opentype'),
       url('../fonts/UniversLightNormalRegular.woff2') format('woff2'),
       url('../fonts/UniversLightNormalRegular.woff') format('woff'),
       url('../fonts/UniversLightNormalRegular.ttf') format('truetype'),
       url('../fonts/UniversLightNormalRegular.svg#UniversLightNormalRegular') format('svg');
}
@font-face {
  font-family: 'Voyage';
  src: url('../fonts/Voyage-Regular.eot');
  src: url('../fonts/Voyage-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Voyage-Regular.woff2') format('woff2'),
      url('../fonts/Voyage-Regular.woff') format('woff'),
      url('../fonts/Voyage-Regular.ttf') format('truetype'),
      url('../fonts/Voyage-Regular.svg#Voyage-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}



// general
//////////////
body{
  font-family: 'UniversLightNormalRegular';
  overflow-x: hidden;
}

figure{
  margin: 0;
}

.flex-grow-0 {
  flex-grow: 0 !important;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1400px;
  }
}

// header
//////////////

header.wp-block-template-part {
  padding-top: 80px;
  padding-bottom: 80px;
  position: relative;
  z-index: 10;
}

.rk-top-banner {
  margin-top: -276px;
}

.universe-28{
  font-family: 'Univers LT Std', sans-serif;
  font-size: 28px;
  font-weight: 700;
}

.wp-block-image.size-full.h-600{
  img{
    width: 100%;
    object-fit: cover;
    @media (min-width: 1200px) {
      height: 600px;
    }
  }
}

.title-section-page{
  // font-family: 'MinionProRegular';
  font-family: 'Voyage';
  font-size: 56px;
  color: #0F2335;
}

.subtitle-section-page-top{
  font-size: 28px;
  font-weight: 500;
  color: #4D4D4D;
  line-height: 150%;
}

.subtitle-section-page{
  font-size: 28px;
  font-weight: 500;
  color: #4D4D4D;
  line-height: 150%;
}

.btn-outline-primary{
  font-family: 'MinionProRegular';
  color: #C36110;
  border-color: #C36110;
  font-size: 32px;
  font-weight: 400;
}

.title-overlay-top-section{
  font-family: 'Voyage';
  font-size: 70px !important;
}


/// home
///////////////
.home{
  .section-overlay-page{
    .wp-block-cover__background{
      background-color: #0F2335;
      opacity: .7;
    }
  }
  .title-overlay-img{
    font-family: 'Voyage';
    font-size: 48px !important;
  }

  .desc-overlay-img{
    font-size: 24px;
    @media (min-width: 1200px) {
      width: 83%;
      margin: auto;
    }
  }
  .btn-overlay-img{
    background: linear-gradient(122deg, #DC7C47 23.99%, #A04B1F 57.64%, #8A471A 91.29%);
    color: #fff;
    padding: 10px 30px;
    font-size: 20px;
    font-family: 'MinionProRegular';
    border-radius: 7px;
    text-decoration: none;
    &:hover{
      background: #fff;
      color: #DC7C47;
    }
  }
}

.home-exp-wrapper{
  background-color: #F0EEDC;
  color: #4D4D4D;
  .home-exp-title{
    font-size: 48px;
    font-family: 'Voyage';
  }
  .home-exp-desc{
    font-size: 20px;
    line-height: 185.2%; /* 37.04px */
  }
  .home-exp-wrapper-list{
    li{
      list-style: none;
      font-size: 24px;
      font-family: 'Voyage';
      font-weight: 700;
      margin-bottom: 15px;
      a{
        color: #4D4D4D;
        .arrow-img{
          display: inline-flex;
          margin-left: 10px;
        }
      }
    }
  }
  .btn-home-exp-more{
    font-size: 20px;
    &:hover{
      color: #fff;
      background: #DC7C47;
      border-color: #DC7C47;
    }
  }
}


/// wellness
///////////////
.spa-column-wrapper{
  @media (min-width: 1200px) {
    margin-right: -10%;
  }
  img{
    object-fit: cover;
    @media (min-width: 1200px) {
      height: 450px;
    }
  }
}


/// experience
////////////////
.block-exp{
  .floating-block-exp{
    padding: 20px;
    background: rgba(15, 35, 53, 0.39);
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    color: #fff;
    flex-direction: column;
    .title-exp-block{
      font-family: 'MinionProRegular';
      font-size: 40px;
    }
    .desc-exp{
      font-size: 18px;
    }
    .btn-discover{
      color: #fff;
      font-size: 20px;
      border: 1px solid;
      border-radius: 8px;
      padding: 8px 40px;
      text-decoration: none;
      display: inline-block;
      margin: 20px 0;
      &:hover{
        background-color: #fff;
        color: #000;
      }
    }
  }
}



// footer
//////////////
.form-subs{
  .w-70{
    width: 100%;
    @media (min-width: 1200px) {
      width: 72%;
    }
   input{
    width: 100%;
   }
  }
  input{
    background-color: transparent;
    background: url(../img/bg-form-subs.png) no-repeat;
    border: none;
    outline: none;
    line-height: 95px;
    padding-left: 20px;
    font-size: 18px;
    @media (max-width: 563px) {
      background-size: 100%;
      line-height: 80px;
    }
    &:focus{
      background-color: transparent;
      outline: none;
      border: none;
      box-shadow: none;
    }
  }
  .btn-submit-subs{
    background-color: #C36110;
    color: #0F2335;
    font-family: 'MinionProRegular';
    font-size: 20px;
    border: none;
  }
}
.rk-footer{
  background: #0F2335;
  color: #D9D9D9;
  .title-section{
    h1{
      font-family: 'Voyage';
      font-size: 40px;
      color: #fff;
    }
  }
  .subtitle{
    p{
      font-size: 22px;
    }
  }
  .after-form{
    font-size: 22px;
  }
  .footer-bottom-right{
    ul{
      li{
        list-style: none;
        display: inline-block;
        padding-right: 10px;
        &:hover{
          opacity: 0.5;
        }
      }
    }
  }
  .footer-menus-wrapper{
    .footer-menu-left{
      .footer-block{
        .title-col{
          font-size: 13px;
        }
        ul{
          li{
            list-style: none;
            font-size: 11px;
            margin-bottom: 10px;
            a{
              color: #D9D9D9;
              display: block;
            }
          }
        }
      }
    }
    .footer-right{
      font-size: 13px;
      .title-col-large{
        font-size: 22px;
        font-family: 'MinionProRegular';
      }
    }
  }
}
